.places {
    max-width: 984px;
    margin: 92px auto 0;
    display: grid;
    grid-row-gap: 80px;
}

@media screen and (max-width: 768px) {
    .places {
        margin: 88px auto 0;
        width: calc(100% - 2 * 24px);
    }
}

@media screen and (max-width: 320px) {
    .places {
        width: 100%;
        grid-row-gap: 0;
        margin: 0 auto;
    }
}