.lead__title {
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    color: #FFF;
    margin: 0 auto;
    max-width: 720px;
    text-rendering: optimizeLegibility;
}

@media screen and (max-width: 767px) {
    .lead__title {
        font-size: 40px;
        line-height: 44px;
        max-width: 288px;
    }
}