.cover {
    margin: 92px auto 0;
    width: calc(100% - 48px * 2);
    min-height: 740px;
}

@media screen and (max-width: 1024px) {
    .cover {
        min-height: 640px;
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .cover {
        margin: 90px auto 0;
        min-height: 480px;
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .cover {
        margin: 66px auto 0;
        min-height: 200px;
        width: 100%;
    }
}